.App {
  width: 100%;
  color: white;
}

.input_container{
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input_container input{
  height: 70%;
    width: 18%;
    padding-left: 13px;
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
}

.input_container button {
  height: 70%;
    width: 8%;
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
}

.h1 {
 
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}